## **ASSIGNMENT-1**
### Manisha Singh

**Q1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.**

In [9]:
# syntax error
Print("Hello")

print(Hello)

print("Hello
there!")

SyntaxError: ignored

We can clearly see that the above examples contain name error and syntax error because it's not written in correct syntax and should be written as:

In [10]:
print("Hello")

Hello

In [11]:
# type error
5 + "minutes"

TypeError: ignored

The above example throws a type error because an integer cannot be added with a string. And not only addition, we cannot perform other operations as well with the combination of int and str datatype.

In [ ]:
# type conversion

**Q2. Take input A and B and print their sum, mul, div, square of the nos.**

In [2]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

print(f"Sum of a and b is {a+b}")
print(f"Multiplication of a and b is {a*b}")
print(f"Division of a and b is {a/b}")
print(f"Square of a is {a**2} and square of b is {b**2}")

Enter the value of a: 2
Enter the value of b: 3
Sum of a and b is 5
Multiplication of a and b is 6
Division of a and b is 0.6666666666666666
Square of a is 4 and square of b is 9

**Q3. How many reserved keywords are there in python and why we should not use them as a variable name.**

Following are the reserved keywords in python:
‘False’, ‘None’, ‘True’, ‘and’, ‘as’, ‘assert’, ‘async’, ‘await’, ‘break’, ‘class’, ‘continue’, ‘def’, ‘del’, ‘elif’, ‘else’, ‘except’, ‘finally’, ‘for’, ‘from’, ‘global’, ‘if’, ‘import’, ‘in’, ‘is’, ‘lambda’, ‘nonlocal’, ‘not’, ‘or’, ‘pass’, ‘raise’, ‘return’, ‘try’, ‘while’, ‘with’ and ‘yield’.

The reserved keywords in python are already defined with predefined meaning and syntax and using those keywords as variable name conflicts the meaning and purpose of it. Therefore, reserved keywords cannot be used as a variable name.

**Q4. Create email ids with the user inputs in the following format - lastname.firstname@gmail.com**

In [3]:
firstName = input("Enter your firstname: ")
lastName = input("Enter your lastname: ")

print(f"Your email-id is {lastName}.{firstName}@gmail.com")

Enter your firstname: manisha
Enter your lastname: singh
Your email-id is singh.manisha@gmail.com

**Q5. Try to print the following lines -**
- Hi I'm Sunny
- My address is 22\3
- I earn 20$ daily.

In [4]:
a = """
Hi I'm Sunny
My address is 22\3
I earn 20$ daily
"""

print(a)

Hi I'm Sunny
My address is 22
I earn 20$ daily

**Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs**

In [6]:
firstName = input("Enter your firstname: ")
lastName = input("Enter your lastname: ")
address = input("Enter your address: ")
dob = input("Enter your date of birth (dd-mm-yyyy): ")
branch = input("Enter your branch (CSE, ME, ETC, CE): ")

print(f"Your email-id is {firstName}{lastName}.{branch.lower()}@gmail.com")

Enter your firstname: manisha
Enter your lastname: singh
Enter your address: Nagpur, Maharashtra
Enter your date of birth (dd-mm-yyyy): 12-07-2000
Enter your branch (CSE, ME, ETC, CE): CSE
Your email-id is manishasingh.cse@gmail.com

**Q7. Convert the following -**
- "22.4" into integer
- "22" into complex no.

In [7]:
# float to int
a = 22.4
a = int(a)

print(a)

22

In [8]:
# int to complex
b = 22
b = complex(b)

print(b)

(22+0j)