# **Assignment 5**
**Manisha Singh**

## List, Tuple and Sets

**Q1. On amazon website we have the following available items -**
```Python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
**Take the user input N no. of times and find out the total cost to be paid?**

OR

**You can ask the user quantity or the count of item?**
**If the item is not present in the amazon website then print that item as out of stock and do add it to total.**

HINT: while, for loop.. indexing

In [2]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

cartTotal = 0
num = 0

count = int(input("How many items do you want to purchase? "))

while num < count:
    itemName = input("Enter the name of item you want to purchase: ")
    
    for i in amazon_website:
        for j in i:
            if itemName == j:
                cartTotal=i[1] + cartTotal                   
                num = num+1

print(f"Amount to be be paid is Rs.{cartTotal}")

How many items do you want to purchase? 2
Enter the name of item you want to purchase: watch
Enter the name of item you want to purchase: phone
Amount to be be paid is Rs.15000

**Q2. What will be the output of the following code snippet?**
```Python
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [3]:
arr = [1, 2, 3, 4, 5, 6]

for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

**Q3. Write a Python program to find the repeated items of a tuple.**

In [4]:
tup = (23, 45, 11, 87, 45, 33)

for i in tup:
  if tup.count(i) > 1:
    print(i)

45
45

**Q4. Replace last value of tuples in a list with 500. Try using list comprehension.**

**Example:**
```Python
Input -:
[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]
```

In [5]:
a = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([i[:-1] + (500,) for i in a])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]