#**Assignment 3**

Manisha Singh

### Python String Manipulation

**Q1. Count the number of times `iNeuron` appears in the string.**
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [3]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

text.count("iNeuron")

3

**Q2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string.**
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [39]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."

txt[4:11].endswith("iNeuron.")

False

**Q3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.**

In [13]:
fullName = input("Enter your full name: ")

firstName, middleName, lastName = fullName.split(" ")
print(f"{firstName[0]}.{middleName[0]}.{lastName}")

Enter your full name: Manisha Ajit Singh
M.A.Singh

**Q4. Join all items in a list into a string, using a hash(`#`) character as separator:**
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [14]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

"#".join(LIST)

'My#name#is#Rishav#Dash'

**Q5. Write example for the following string manipulation functions.**
```Python
- isdecimal()
- islower()
- isupper()
- isalpha()
- isnumeric()
```

In [17]:
# isdecimal()
a = "34"
print(a.isdecimal())

b = "hello"
print(b.isdecimal())

True
False

In [19]:
# islower()

a = "goodbye"
print(a.islower())

b = "Goodbye"
print(b.islower())

True
False

In [20]:
# isupper()

a = "LAST"
print(a.isupper())

b = "Last"
print(b.isupper())

True
False

In [21]:
# isalpha()

a = "Text"
print(a.isalpha())

b = "Text123"
print(b.isalpha())

True
False

In [22]:
# isnumeric()

a = "12345"
print(a.isnumeric())

b = "123huh"
print(b.isnumeric())

True
False

**Q6. Indian PAN card format follows the following formats -**
  - `AYEPC7894X`
  - `ABCDE9999Y` 

**Take user input for PAN_CARD and validate as per the above example.**

In [31]:
panNumber = input("Enter you Indian PAN number: ")

if panNumber.isalnum()==True:
  if panNumber[0:5].isalpha()==True and panNumber[5:9].isdigit()==True and panNumber[-1].isalpha()==True:
    print("Entered PAN number is valid.")
  else:
    print("Entered PAN number is invalid.")

else:
  print("Entered PAN number is invalid.")

Enter you Indian PAN number: AYEP47894X
Entered PAN number is invalid.