# **PYTHON BASICS ASSIGNMENT 20**

**Manisha Singh**

**Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

In [2]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)
    file.close()

**Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
if test1==test2:
    print('Both are same')

This is a test of the emergency text system,
Both are same

**Q3. Create a CSV file called books.csv by using these lines:**

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [11]:
import csv

rows =[['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

**Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [ ]:
import sqlite3

db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("create table books(title varchar(20), author varchar(20), year int)")
db.commit()
db.close()

**Q5. Read books.csv and insert its data into the book table.**

In [13]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

with open("books.csv","r") as file:
    books = csv.DictReader(file)

    for book in books:
        cursor.execute("insert into books values (?,?,?)", (book['title'], book['author'], book['year']))

conn.commit()
conn.close()

**Q6. Select and print the title column from the book table in alphabetical order.**

In [14]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")

print(cursor.fetchall())
conn.commit()
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

**Q7. From the book table, select and print all columns in the order of publication.**

In [15]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")

df = pd.DataFrame(cursor.fetchall(), columns=['title', 'author', 'year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

**Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [16]:
pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.19-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 1.5 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
     -------------------------------------- 192.1/192.1 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\akswn\appdata\local\programs\python\python39\lib\site-packages (from SQLAlchemy) (4.5.0)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.19 greenlet-2.0.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

**Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [18]:
pip install redis

Collecting redisNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
     ------------------------------------ 241.1/241.1 kB 871.4 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.6.0

In [ ]:
import redis

conn = redis.Redis()
conn.hmset("test", {'count':1, 'name':'Fester Bestertester'})
conn.hgetall('test')

**Q10. Increment the count field of test and print it.**

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')