#**ASSIGNMENT 4**

**Manisha Singh**

## Control Flow and Conditional Statements

**Q1. Find the largest number from the given list, use for loop.**
```Python
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [4]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest = 0

for num in numbers:
  if num > largest:
    largest = num

print(f"Largest number is {largest}")

Largest number is 525

**Q2. Print all the even numbers between (1, 12).**

In [7]:
for i in range(1, 12):
  if i%2==0:
    print(i)

2
4
6
8
10

**Q3. Calculate the sum of all numbers from 1 to a given number.**
```Python
Expected Output:

Enter number 10

Sum is:  55
```

In [18]:
n = int(input("Enter a number: "))
sum = 0

for i in range(1,n+1):
  sum = sum+i
  i = i+1

print(f"Sum is: {sum}")

Enter a number: 10
Sum is: 55

**Q4. Write a program to display only those numbers from a list that satisfy the following conditions:**

- **The number must be divisible by five**
- **If the number is greater than 150, then skip it and move to the next number**
- **If the number is greater than 500, then stop the loop**
```Python
Given:
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [14]:
numbers = [12, 75, 150, 180, 145, 525, 50]
a = []

for num in numbers:
  if num>150:
    if num>500:
      break
    continue
  
  if num%5==0:
    a.append(num)

print(a)

[75, 150, 145]

**Q5. Print the given list in reverse order.**
```Python
list1 = [10, 20, 30, 40, 50]
```

In [17]:
list1 = [10, 20, 30, 40, 50]

print(list1[::-1])

[50, 40, 30, 20, 10]